footer{ 
    text-align: center; 
    padding: 8px; 
    } 
        
         
    .button:hover{ 
        background-color:slategray; 
            } 

    header{
        background-color: grey;
        text-align: center; 
        padding: 8px;
            }

    h3,h4{
        text-align: center; 
        color:grey;
    }

    h5{text-align: center; }

    #abc{
        margin:35px; 
        border: 20px darkgrey solid;
        background-color: lavender; 
        border: 2px darkgrey solid;
        width:70%;
    }

    .nav-item{
        color: gainsboro;
    }

    ul{
        list-style-type: none;
    }

    /**Tablesort plugin by http://tristen.ca/tablesort/demo/**/


    th[role=columnheader]:not(.no-sort) {
        cursor: pointer;
    }
    
    th[role=columnheader]:not(.no-sort):after {
        content: '';
        float: left;
        margin-top: 7px;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color: darkgrey transparent;
        visibility: hidden;
        opacity: 0;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    
    th[aria-sort=ascending]:not(.no-sort):after {
        border-bottom: none;
        border-width: 4px 4px 0;
    }
    
    th[aria-sort]:not(.no-sort):after {
        visibility: visible;
        opacity: 0.4;
    }
    
    th[role=columnheader]:not(.no-sort):hover:after {
        visibility: visible;
        opacity: 1;
    }

    